.testimonials{
    background-image: url('../../assets/testimonials-benar-1.jpeg');
    width: 100%;
    height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 5rem;
    /* mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 45%, rgba(0, 0, 0, 0) 75%); */
    /* -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgb(0 0 0 / 0%) 75%); */
    box-shadow: 0px 100px 180px 200px #000000 inset;
    color: rgb(255, 255, 255);
}
.iphone-img{
    display: flex;
    justify-content: center;
}
.iphone-img img{
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
.testimonials-heading-card{
    position: absolute;
    top: 25%;
    left: 49.5%;
    translate: -50% -50%;
}
.testimonials-heading-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.testimonials-heading-item h2{
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    width: 50%;
    letter-spacing: -.05em;
    line-height: 1em;
    font-weight: 600;
    margin-top: 10px
}
.testimonials-heading-item span{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    letter-spacing: -.05em;
    line-height: 1em;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonials-heading-item p{
    color: rgb(153, 153, 153);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    width: 70%;
    letter-spacing: -0.2px;
    line-height: 1.6em;
    font-weight: 500;
    margin-top: 10px
}
.testimonials-card{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -10%;
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 45%, rgba(0, 0, 0, 0) 75%);
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgb(0 0 0 / 5%) 115%);
}
.testimonials-item-1, .testimonials-item-2{
    border-radius: 14px;
    padding: 20px;
    background-color: #000;
    border: 2px solid #6370ff;
    box-shadow: 1px 1px 15px 1px #6370ff inset;
    width: 100%;
    /* mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 45%, rgba(0, 0, 0, 0) 75%);
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 55%, rgb(0 0 0 / 0%) 145%); */
}

.testimonials-card-1{
    padding: 10px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out ;
}
.testimonials-card-1 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.testimonials-card-1 h3{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    letter-spacing: -.05em;
    line-height: 1em;
    font-weight: 500;
    margin-top: 10px;
}
.testimonials-card-1 p{
    color: rgb(153, 153, 153);
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    width: 80%;
    letter-spacing: -0.2px;
    line-height: 1.6em;
    font-weight: 500;
}
.testimonials-item-header p{
    width: 100%;
}
.testimonials-item-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:row-reverse;
    margin-bottom: 10px;
}
.slick-prev:before, .slick-next:before {
    display: none;
 }
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .testimonials{
        box-shadow:  0px 80px 250px 130px #000000 inset;
    }
    .testimonials-card {
        width: 60%;
    }
   .testimonials-heading h2 {
    width: 25%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .testimonials{
        box-shadow:  0px 0px 290px 110px #000000 inset;
    }
    .testimonials-card {
        width: 70%;
    }
    .testimonials-heading-item h2 {
        font-size: 32px;
        width: 70%;
        margin-top: 5px;
    }
    .testimonials-heading p {
        font-size: 18px;
        width: 35%;
        margin-top: 10px;
    }
    .testimonials-card-1 p{
        font-size: 15px;
        width: 100%;
    }
    .testimonials-card-1{
        padding: 5px;
    }
    .testimonials-heading-card {
        position: absolute;
        top: 27%;
        left: 49%;
        translate: -50% -50%;
    }
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
    .testimonials{
        box-shadow:  0px 0px 150px 40px #000000 inset;
        height: 730px;
        margin-top: 5rem;
    }
    .testimonials-card {
        width: 70%;
        position: absolute;
        top: 49%;
        left: 50%;
        translate: -50% -10%;
    }
    .testimonials-heading-item h2 {
        font-size: 25px;
        width: 80%;
        margin-top: 0px;
    }
   .testimonials-heading-item p {
        font-size: 14px;
        width: 80%;
        margin-top: 10px;
    }
    .testimonials-heading-item span{
        font-size: 14px;
    }
    .testimonials-card-1 img{
        width: 40px;
        height: 40px;
    }
    .testimonials-card-1 h3{
        font-size: 17px;
        margin-top: 10px;
    }
    .testimonials-card-1 p{
        font-size: 15px;
        width: 100%;
    }
    .testimonials-card-1 {
        padding: 5px;
    }
    .testimonials-heading-card {
        position: absolute;
        top: 32%;
        left: 49%;
        translate: -50% -50%;
    }
    .iphone-img img {
        width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
    .testimonials{
        box-shadow:  0px 0px 150px 20px #000000 inset;
        height: 510px;
        margin-top: 5rem;
    }
    .testimonials-card {
        width: 70%;
        position: absolute;
        top: 46%;
        left: 50%;
        translate: -50% -10%;
    }
    .testimonials-heading-item h2 {
        font-size: 26px;
        width: 100%;
        margin-top: 0px;
    }
   .testimonials-heading-item p {
        font-size: 14px;
        width: 100%;
        margin-top: 5px;
    }
    .testimonials-heading-item span{
        font-size: 14px;
    }
    .testimonials-card-1 img{
        width: 40px;
        height: 40px;
    }
    .testimonials-card-1 h3{
        font-size: 15px;
        margin-top: 5px;
    }
    .testimonials-card-1 p{
        font-size: 13px;
        width: 100%;
    }
    .testimonials-card-1 {
        padding: 4px;
    }
    .testimonials-heading-card {
        position: absolute;
        top: 27%;
        left: 49%;
        translate: -50% -50%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 375px) {
    .testimonials{
        box-shadow:  0px 0px 150px 10px #000000 inset;
        height: 510px;
        margin-top: 5rem;
    }
    .testimonials-card {
        width: 80%;
        position: absolute;
        top: 55%;
        left: 50%;
        translate: -50% -10%;
    }
    .testimonials-heading-item h2 {
        font-size: 22px;
        width: 100%;
        margin-top: 0px;
    }
   .testimonials-heading-item p {
        font-size: 13px;
        width: 100%;
        margin-top: 5px;
    }
    .testimonials-heading-item span{
        font-size: 13px;
    }
    .testimonials-card-1 img{
        width: 40px;
        height: 40px;
    }
    .testimonials-card-1 h3{
        font-size: 15px;
        margin-top: 5px;
    }
    .testimonials-card-1 p{
        font-size: 13px;
        width: 100%;
    }
    .testimonials-card-1 {
        padding: 4px;
    }
    .testimonials-heading-card {
        position: absolute;
        top: 35%;
        left: 49%;
        translate: -50% -50%;
    } 
    .testimonials-item-2{
        display: none;
    }  
}