*{
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 1370px;
    max-width: 100%;
    margin: 0px auto;
}
.faq-section{
    padding: 17px 20px;
    margin-top: 10rem;
}
.faq-header h5{
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    letter-spacing: -.05em;
    line-height: 1em;
    font-weight: 500;
    margin-bottom: 10px;
}
.faq-header h2{
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    letter-spacing: -.05em;
    line-height: 1.1em;
    width: 50%;
}
.faq-header p{
    color: rgb(255 255 255 / 60%);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    letter-spacing: -0.2px;
    line-height: 1.6em;
    font-weight: 500;
    width: 36%;
    margin-top: 15px;
}
.faq-header p a{
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.faq-header p a:hover{
    color: #4e80ff;
}
.faq-card{
    margin-top: 30px;
}
.faq-category:nth-child(2) {
    margin-top: 30px;
}
.faq-category:nth-child(3) {
    margin-top: 30px;
}
.faq-category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.faq-card-header{
    border-bottom: 1px solid #8787876e;
    padding: 30px 0px;
    width: 95%;
}
.faq-card-header h2{
    color: rgb(255, 255, 255);
    font-family:"GT Walsheim Regular", "GT Walsheim Regular Placeholder", sans-serif;
    font-size: 22px;
    letter-spacing: -0.3px;
    line-height: 1.4em;
    font-weight: 600;
}
.faq-card-header p{
    color: rgb(255 255 255 / 60%);
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    letter-spacing: -0px;
    line-height: 1.6em;
    font-weight: 400;
    margin-top: 10px;
    width: 75%;
}
.faq-item {
    padding: 30px 0px;
    border-bottom: 1px solid #8787876e;
    width: 90%;
}
.faq-item h3{
    color: rgb(255, 255, 255);
    font-family:"GT Walsheim Regular", "GT Walsheim Regular Placeholder", sans-serif;
    font-size: 22px;
    letter-spacing: -0.3px;
    line-height: 1.4em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faq-item p {
    color: rgb(255 255 255 / 60%);
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    letter-spacing: -0px;
    line-height: 1.6em;
    font-weight: 400;
    width: 75%;
    margin-top: 10px;
}
.faq-menu-card{
    display: flex;
    padding: 7px 0px;
}
.faq-menu{
    margin-top: 15px;
    display: none;
}
.faq-menu-card h6 span{
    color: rgb(255, 255, 255);
    font-family:"GT Walsheim Regular", "GT Walsheim Regular Placeholder", sans-serif;
    font-size: 18px;
    letter-spacing: -0px;
    line-height: 1.6em;
    font-weight: 600;
    margin: 0px 5px;
}
.faq-menu-card h6{
    color: rgb(255 255 255 / 60%);
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    letter-spacing: -0px;
    line-height: 1.6em;
    font-weight: 400;
    width: 75%;
    margin: 0px;
}
.faq-menu-card svg{
    font-size: 18px;
}
.faq-menu2{
    margin-top: 15px;
    display: none;
}
.faq-category:nth-child(2) .faq-item:nth-child(2) .faq-menu{
    display: block;
}
.faq-category:nth-child(3) .faq-item:nth-child(2) .faq-menu2{
    display: block;
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {

}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .faq-header h5 {
        font-size: 15px;
    }
    .faq-header h2 {
        font-size: 35px;
        width: 40%;
    }
    .faq-header p {
        font-size: 15px;
        width: 50%;
    }
    .faq-card-header h2 {
        font-size: 20px;
    }
    .faq-card-header p, .faq-item p {
        font-size: 15px;
        width: 75%;
    }
    .faq-item h3 {
        font-size: 20px;
    }
    .faq-menu-card h6 {
        font-size: 15px;
    }
}
@media only screen and (min-width: 425px) and (max-width: 768px) {
    .faq-card {
        margin-top: 10px;
    }
    .faq-header h5 {
        font-size: 13px;
    }
    .faq-header h2 {
        font-size: 26px;
        width: 60%;
    }
    .faq-header p {
        font-size: 13px;
        width: 70%;
    }
    .faq-card-header {
        padding: 20px 0px;
    }
    .faq-item {
        padding: 20px 0px;
    }
    .faq-card-header h2 {
        font-size: 20px;
    }
    .faq-card-header p, .faq-item p {
        font-size: 13px;
        width: 100%;
    }
    .faq-item h3 {
        font-size: 20px;
    }
    .faq-menu-card h6 {
        font-size: 15px;
    }
    .faq-menu-card {
        padding: 13px 0px;
    }
    .faq-menu-card h6 span {
        font-size: 17px;
    }
}
@media only screen and (min-width: 375px) and (max-width: 425px) {
    .faq-card {
        margin-top: 10px;
    }
    .faq-header h5 {
        font-size: 13px;
    }
    .faq-header h2 {
        font-size: 26px;
        width: 60%;
    }
    .faq-header p {
        font-size: 13px;
        width: 80%;
    }
    .faq-card-header {
        padding: 20px 0px;
    }
    .faq-item {
        padding: 20px 0px;
    }
    .faq-card-header h2 {
        font-size: 20px;
    }
    .faq-card-header p, .faq-item p {
        font-size: 13px;
        width: 100%;
    }
    .faq-item h3 {
        font-size: 20px;
    }
    .faq-menu-card h6 {
        font-size: 15px;
    }
    .faq-menu-card {
        padding: 13px 0px;
    }
    .faq-menu-card h6 span {
        font-size: 17px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 375px) {
    .faq-card {
        margin-top: 10px;
    }
    .faq-header h5 {
        font-size: 13px;
    }
    .faq-header h2 {
        font-size: 26px;
        width: 70%;
    }
    .faq-header p {
        font-size: 13px;
        width: 80%;
    }
    .faq-card-header {
        padding: 20px 0px;
    }
    .faq-item {
        padding: 20px 0px;
    }
    .faq-card-header h2 {
        font-size: 20px;
    }
    .faq-card-header p, .faq-item p {
        font-size: 13px;
        width: 100%;
    }
    .faq-item h3 {
        font-size: 20px;
    }
    .faq-menu-card h6 {
        font-size: 15px;
    }
    .faq-menu-card {
        padding: 13px 0px;
    }
    .faq-menu-card h6 span {
        font-size: 17px;
    }
}