.master-card{
    padding: 17px 20px;
    margin-top: 20rem;
}
.master-text h2{
    color: rgb(255, 255, 255);
    font-family: "GT Walsheim Medium", "GT Walsheim Medium Placeholder", sans-serif;
    font-size: 62px;
    letter-spacing: -.05em;
    line-height: 1em;
    width: 40%;
    font-weight: 600;
}
.master-video{
    position: relative;
}
.master-video video{
    width: 100%;
    height: 100%;
   margin-top: 10px;
   mask: linear-gradient(rgb(0, 0, 0) 45%, rgba(0, 0, 0, 0) 90%);
}
.master-video-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 50px;
}
.master-logo{
    display: flex;
    align-items: center;
}
.master-logo img{
    width: 12px;
}
.master-logo p{
    color: rgb(255, 255, 255);
    letter-spacing: -.5px;
    line-height: 1.1em;
    font-family: "GT Walsheim Medium", "GT Walsheim Medium Placeholder", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
}
.master-video-text h2{
    color: rgb(255, 255, 255);
    font-size: 48px;
    letter-spacing: -.5px;
    line-height: 1.1em;
    font-family: "GT Walsheim Medium", "GT Walsheim Medium Placeholder", sans-serif;
    width: 30%;
    font-weight: 400;
    margin-top: 10px;
}
.master-button{
    margin-top: 25px;
}
.Fundamentals-button a{
    font-size: 15px;
    font-weight: 600;
    background-color: rgba(255, 255, 255);
    border-radius: 100px;
    color: rgb(0, 0, 0);
    letter-spacing: -.5px;
    line-height: 1.1em;
    text-align: center;
    padding: 10px 17px;
    font-family: "GT Walsheim Medium", "GT Walsheim Medium Placeholder", sans-serif;
}
.watch-button a{
    font-size: 15px;
    font-weight: 600;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    color: rgb(255, 255, 255);
    letter-spacing: -.5px;
    line-height: 1.1em;
    text-align: center;
    padding: 10px 17px;
    margin-left: 10px;
    font-family: "GT Walsheim Medium", "GT Walsheim Medium Placeholder", sans-serif;
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .master-card{
        margin-top: 15rem;
    }
    .master-text h2 {
        font-size: 59px;
        width: 40%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .master-card{
        margin-top: 10rem;
    }
    .master-text h2 {
        font-size: 35px;
        width: 35%;
    }
    .master-video-text {
        bottom: 0px;
    }
    .master-video-text h2 {
        font-size: 30px;
        width: 40%;
        margin-top: 7px;
    }
    .master-logo img{
        width: 12px;
    }
    .master-logo p{
        font-size: 14px;
        margin-left: 8px;
    }
    .master-button{
        margin-top: 15px;
    }
    .watch-button a, .Fundamentals-button a {
        font-size: 14px;
        padding: 8px 15px;
    }
    .watch-button a span, .Fundamentals-button a span{
        display: none;
    }
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
    .master-card{
        margin-top: 5rem;
    }
    .master-text h2 {
        font-size: 25px;
        width: 50%;
    }
    .master-video-text {
        bottom: 0px;
    }
    .master-video-text h2 {
        font-size: 25px;
        width: 40%;
        margin-top: 5px;
        font-weight: 500;
    }
    .master-logo img{
        width: 10px;
    }
    .master-logo p{
        font-size: 12px;
        margin-left: 6px;
    }
    .master-button{
        margin-top: 10px;
    }
    .watch-button a, .Fundamentals-button a {
        font-size: 13px;
        padding: 8px 15px;
        font-weight: 500;
    }
    .watch-button a span, .Fundamentals-button a span{
        display: none;
    }  
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
    .master-card{
        margin-top: 4rem;
    }
    .master-text h2 {
        font-size: 25px;
        width: 50%;
    }
    .master-video-text {
        bottom: 0px;
    }
    .master-video-text h2 {
        font-size: 25px;
        width: 43%;
        margin-top: 5px;
        font-weight: 500;
    }
    .master-logo img{
        width: 8px;
    }
    .master-logo p{
        font-size: 10px;
        margin-left: 6px;
    }
    .master-button{
        margin-top: 10px;
    }
    .watch-button a, .Fundamentals-button a {
        font-size: 13px;
        padding: 8px 15px;
        font-weight: 500;
    }
    .watch-button a span, .Fundamentals-button a span{
        display: none;
    } 
}
@media only screen and (min-width: 320px) and (max-width: 374px) {
    .master-card{
        margin-top: 3rem;
    }
    .master-text h2 {
        font-size: 20px;
        width: 50%;
    }
    .master-video-text {
        bottom: 0px;
    }
    .master-logo img {
        width: 8px;
    }
    .master-logo p {
        font-size: 10px;
        margin-left: 4px;
    }
    .master-video-text h2 {
        font-size: 25px;
        width: 50%;
        margin-top: 5px;
        font-weight: 500;
    }
    .master-button{
        margin-top: 10px;
    }
    .watch-button a, .Fundamentals-button a {
        font-size: 12px;
        padding: 8px 15px;
        font-weight: 500;
    }
    .watch-button a span, .Fundamentals-button a span{
        display: none;
    }
}